.navigation {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100vw;
  padding: 0 1rem;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(182, 126, 126, 0.23);
  z-index: 999;
}

.brand-and-menu {
  display: flex;
  align-items: center;
}

.brand-name {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
}

.navigation-menu {
  display: flex;
  margin-left: auto;
}

.navigation-menu ul {
  list-style: none;
  display: flex;
  margin-right: 3rem;
  padding: 0;
}

.navigation-menu li {
  margin: 0 1rem;
}

.navigation-menu li a {
  text-decoration: none;
  color: black;
  padding: 2rem 1rem;
}

.user-logo {
  margin-right: 2rem;
}

.hamburger {
  display: none;
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #b7bac3;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 1rem;
  right: 3rem;
}

.hamburger:hover {
  background-color: #4b5063;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navigation-menu ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-top: 1px solid black;
  }

  .navigation-menu.expanded ul {
    display: flex;
  }

  .navigation-menu li {
    text-align: center;
    margin: 1rem;
  }

  .navigation-menu li a {
    width: 100%;
  }

  .navigation-menu li:hover {
    background-color: #eee;
  }
}
